* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}

nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    list-style-type: none;
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: white;
}

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

.right-nav {
    float: right;
    padding: 10px 200px;

}

.nav-logo {
    padding: 10px 140px;
}

.nav {
    font-weight: bold;
}


.tuitt-button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
}

#bg-image {
    position: relative;
    height: 50vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-position: center;
    z-index: 2;
}


.front-bg {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.container {
    text-align: right;
    margin: 2rem 5rem;
    padding left: 20rem;
    z-index: 3;
}

.title {
    color: white;
    font-family: zilla slab;
    z-index: 4;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: .5rem;
}

.subtitle {
    color: white;
    font-family: zilla slab;
    z-index: 4;
    padding-left: 75%;
    font-weight: lighter;
}


.apply-button {
     color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 3rem;
    margin-right: 7rem;
    padding: 0.5rem 2rem;
    border: none;
    z-index: 5;
}

.intro {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    height: 25vh;
    font-family: zilla slab ;
}

.title-2 {
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-weight: bolder;
    font-size: 2.5rem;
}

.intro-description {
    margin-right: 30%;
    margin-left: 30%;
    font-size: 1.1rem;
    text-align: left !important;

}

.pre-footer {
    background-color: #f7fbfb ;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
    height: 40vh;
    font-family: zilla slab ;
}

.prefooter-description {
    margin-left: 20%;
    margin-right:20%;
    margin-bottom: 2rem;
    font-size: 1.2rem;


}

.book-button {
     color: white;
    font-weight: bold;
    background-color: #336589;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border: none;
}

footer {
    text-align: center;
}

span {
    padding: 15px 15px;
}